.gameImg {
    width: 300px;
    height: 220px;
}

.img-wrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.img-wrapper img {
    height: 400px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.img-wrapper img:hover {
    transform: scale(1.1);
}

.img-wrapper {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #000;
}